
	<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Forgot Password</h1>
		<br><br><br>
    <span>Enter your email to be sent your password</span>

			<input type="email" placeholder="Email Address" #passwordResetEmail required/><br><br>
			<button value="Reset Password"
      (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
	  <BR>
      <button  id="signUp"routerLink="/sign-in">Sign In</button> 
   </form>
	</div>
  </div>
