<header style="background-color: #bb7545;">

  <div class="search" style="background-color: white;">
    <input
      [(ngModel)]="search" placeholder="Search Recipe" (keydown)="onKeyPressSearch($event.key)" (ngModelChange)="onChangeSearch($event)"/>
    <svg *ngIf="search === ''" aria-hidden="true" ocusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    </svg>
    <svg *ngIf="search !== ''" (click)="onClearSearch()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    </svg>
  </div>
</header>
<main style="background-color: #bb7545;">
  <div id="list-result">
    <app-list-recipes *ngIf="loadingSearch === false" [recipes]="recipes"></app-list-recipes>
    <div class="spinner" *ngIf="loadingSearch"></div>
  </div>
</main>
