<html style="background: linear-gradient(45deg, #eae9ec calc(100% - 300px), #fff calc(100% - 300px), #fff calc(100% - 296px), #D64 calc(100% - 296px));">
<header >
  <div class="container">
    <input type="text" placeholder="Search...">
    <div class="search"> 
      <input
      [(ngModel)]="search" placeholder="Search Recipe" (keydown)="onKeyPressSearch($event.key)" (ngModelChange)="onChangeSearch($event)"/>
    <svg *ngIf="search === ''" aria-hidden="true" ocusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    </svg>
    <svg *ngIf="search !== ''" (click)="onClearSearch()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    </svg></div>
  </div>
</header>

<main >
 
  <div id="list-result">
    <app-list-recipes *ngIf="loadingSearch === false" [recipes]="recipes"></app-list-recipes>
    <div class="spinner" *ngIf="loadingSearch"></div>
  </div>
</main>
</html>