
<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<div class="social-container">
				<a (click)="ngAuthService.GoogleAuth()" class="social"><i class="fab fa-google-plus-g"><img src="assets/android-icon-36x36.png" alt="Google Icon"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email"  placeholder="Email"  #userName required/>
			<input type="password"  placeholder="Password" #userPassword required />
			<a routerLink="/forgot-password">Forgot your password?</a>
			<button value="Sign in"
      (click)="ngAuthService.SignIn(userName.value, userPassword.value)">Sign In</button>
	  <BR>
   </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost"routerLink="/sign-up" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

