
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="padding: 10px;background-color: #D64;color: white; border: white;border-bottom-style: solid;border-width: medium;">
      <a class="navbar-brand" href="#"style="font-size:30px; color: White;"><img src="assets/flame_64.png"> Food for Thought</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" style="color: white;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"style="font-size:20px">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"style="color: white;">Home</a>
          </li>
          <li class="nav-item" *ngIf="!ngAuthService.userState"style="font-size:20px">
            <a class="nav-link" routerLink="/sign-in" routerLinkActive="active"style="color: white;">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="ngAuthService.userState"style="font-size:20px">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active"style="color: white;">Account</a>
          </li>

          <li class="nav-item" *ngIf="ngAuthService.userAdmin"style="font-size:20px">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"style="color: white;">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="ngAuthService.userState"style="font-size:20px">
            <a class="nav-link" (click)="ngAuthService.SignOut()" routerLinkActive="active"style="color: white;">Sign Out</a>
          </li>
        </ul>
       
      </div>
    </nav>
   
  <router-outlet></router-outlet>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>