
  <div class="user-profile" *ngIf="ngAuthService.userState as user">
  
    <div class="profile-card">
      <h1 class="profile-card__title">{{(user.displayName) ? user.displayName : 'User'}}</h1>
      <p class="profile-card__subtitle">{{user.email}}</p><img class="profile-card__avatar" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy.jpg'}}" alt="Avatar for {{(user.displayName) ? user.displayName : 'User'}}"/>

    
<h1>Saved Recipes</h1>
<div class="row card-group">
    <div class="col-sm-2"*ngFor="let recipe of recipes">
      <div class="card">
        <img class="card-img-top" src="{{recipe.payload.doc.data().image}}" alt="{{recipe.payload.doc.data().title}} image">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.payload.doc.data().title }}</h5>          
          <p class="card-text">Ready in {{ recipe.payload.doc.data().readyInMinutes}} minutes</p>
          <p class="card-text">Serves {{ recipe.payload.doc.data().servings}} people</p>

          <a href="{{ base_href }}/recipe/{{ recipe.payload.doc.data().id }}" class="btn btn-primary" style="color: white;">Recipe</a>
          <button (click)="onDelete()" class="btn btn-danger">Delete</button>


        </div>
        <div class="card-footer text-muted">
          Saved on {{recipe.payload.doc.data().dateSaved| date: 'shortDate'}}        
        </div>
      </div>
    </div>
   
  </div>
  <h1>Shopping List</h1>
  <app-list-card></app-list-card>
  <app-list></app-list>
  </div>