
<input (keyup.enter)="onAddList(listTitleInput.value)" #todoTitleInput type="text" placeholder="List">

<button (click)="onAddList(listTitleInput.value)">ADD</button>

<div class="all-todos">

  <p>Uncompleted Lists:</p>

  <app-list 
    *ngFor="let list of listsStore.uncompletedLists$ | async; trackBy: listsTrackFn"
    [list]="list"
    (complete)="listssStore.setCompleted(list.id, $event)"
    (remove)="listsStore.removeList($event)"
  ></app-list>
</div>

<hr/>

<div class="all-todos">

  <p>Completed List:</p>

  <app-list 
    *ngFor="let list of listsStore.completedLists$ | async; trackBy: listsTrackFn"
    [list]="list"
    (complete)="listsStore.setCompleted(list.id, $event)"
    (remove)="listsStore.removeList($event)"></app-list>
</div>

