@import url(https://fonts.googleapis.com/css?family=Merriweather|Vollkorn:400italic|Open+Sans:400,800|Gentium+Book+Basic:400italic);
 @font-face {
	 font-family: 'Icons';
	 src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/19323/icons.woff');
}
 * {
	 box-sizing: border-box;
}
 html {
	 font-size: 10px;
}
 body {
	 background-color: #FCFAF2;
}
 img {
	 max-width: 100%;
}
 .recipe .jumbotron {
	 padding: 0 0 1rem;
	 background-color: #2A2C39;
}
 .recipe h1 {
	 margin: 1.5rem 0;
	 font: normal bold 6rem/8rem 'Open Sans';
	 color: #FCFAF2;
	 text-align: center;
	 vertical-align: top;
}
 .recipe h2 {
	 color: #FCFAF2;
}
 .recipe h2.attribution {
	 margin: 1.5rem 0;
	 text-align: center;
}
 .recipe h2.attribution span {
	 font: italic 4.2rem/5rem 'Gentium Book Basic';
	 vertical-align: top;
}
 .recipe h2.attribution i.logo {
	 font: normal normal 4.8rem/5rem 'Icons';
	 vertical-align: top;
}
 .recipe h2.disclaimer {
	 margin: 2rem 0;
	 font: normal bold 1.5rem/1.5rem 'Open Sans';
	 text-transform: uppercase;
	 text-align: center;
	 border-top: .1rem solid #FCFAF2;
}
 .recipe h2.disclaimer span {
	 position: relative;
	 padding: 0 1.3rem;
	 top: -0.8rem;
	 background-color: #2A2C39;
}
 .recipe .recipe-image {
	 margin-bottom: 2rem;
}
.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
 .recipe .recipe-image img {
	 outline: solid .1rem rgba(0,0,0,0.3);
	 border: solid .7rem #FFF;
}

 .recipe .recipe-text {
	 margin-bottom: 4rem;
	 font: normal 1.4rem/2.5rem 'Merriweather';
	 text-align: left;
	 justify-content: left;
}
/* This is for the ingredients heading */
 .recipe .recipe-text h2 {
	 margin-bottom: 0;
	 font: italic 3rem/4.2rem 'Gentium Book Basic';
	 color: #000;
	 text-align: center;
	 border-top: 1px dotted #2A2C39;
}
 .recipe .recipe-text h2 span {
	 position: relative;
	 padding: 0 1.5rem;
	 top: -2.2rem;
	 background-color: #FCFAF2;
	 text-align: left;
}
 .recipe .recipe-text ul {
	 display: table;
   text-align: left;

}
 .recipe .recipe-text ul li {
	 display: table-row;
	 border-bottom: rgba(0,0,0,0.1) solid 1px;
   text-align: left;

}
.desc .stats {
	list-style: none;
	padding-bottom: 10px;
	align-self: center;
	justify-content: center;
	margin-left: 150px;

  }
  b {
	font-weight: bold;
  }
  .stats li{
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 1px;
	margin-left: 150px;
	min-width: 140px;
	color: #D64;
	margin-left: auto;
	margin-right: auto;
	border-left: thin dotted #777;
	justify-content: center;
align-self: center;
  }
  
  
  .stats li span, .stats li strong{
	font-size: 18px;
  }
	
 .recipe .recipe-text ul li strong {
	 display: inline-block;
	 padding-right: 10px;
	 font-size: 1.75rem;
   text-align: left;
   text-decoration: black;
}


 .recipe .recipe-directions {
	 margin-bottom: 4rem;
	 font: normal 1.4rem/2.5rem 'Merriweather';
}
 .recipe .recipe-directions h2 {
	 margin-bottom: 0;
	 font: italic 3rem/4.2rem 'Gentium Book Basic';
	 color: #000;
	 text-align: center;
	 border-top: 1px dotted #2A2C39;
}
 .recipe .recipe-directions h2 span {
	 position: relative;
	 padding: 0 1.5rem;
	 top: -2.2rem;
	 background-color: #FCFAF2;
}
 .recipe .recipe-directions ol {
	 padding-left: 3.5rem;
}
 .recipe .recipe-directions ol li {
	 margin-bottom: 1.5rem;
	 list-style-type: decimal;
}
.ingredient-list
{
	justify-content: left;
	text-align: left;
}